<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Devices</h1>
    <div class="deviceHeader">
      <div style="width:200px; float:left" ><strong>Name</strong></div>
      <div style="width:200px; float:left" ><strong>Room</strong></div>
      <div style="width:200px; float:left"><strong>Type</strong></div>
      <div class="deviceActions"><strong>Traits</strong></div>
    </div>
    <% devices.forEach(function(device){ %>
    <div class="deviceRow">
      <div class="device">
      <div class="deviceName">
        <strong><%= device.name.name %></strong><br>
        <% device.name.nicknames.forEach(function(nick){ %>
        <small><%= nick %><br></small>
        <%});%>
      </div>
      <div class="room"><%= device.roomHint %></div>
      <div class="deviceDescription"><img class="deviceTypeIcon" src="/images/<%= device.type %>.png" title="<%= device.type %>"></div>
      <div class="deviceActions">
        <% device.traits.forEach(function(action){ %>
          <img class="action" src="/images/<%= action %>.png" title="<%= action %>">
        <% }); %>
      </div>
      </div>
      <div>
      <button onclick="edit(event, '<%= device._id %>')">Edit</button>
      <button onclick="deleteDevice('<%= device._id%>')">Delete</button>
      </div>
    </div>
    <% }); %>
    <div style="padding-top: 10px;">
      <button onclick="addDevice(event);">Add Device</button>
    </div>
  </div>

  <div id="dialog" hidden>
    <input id="devID" type="hidden">
    <label for="friendlyName">Name: </label><br>
    <input id="friendlyName" type="text" onchange="checkName(this.value)">
    <label for="roomHint">Room (optional): </label>
    <input id="roomHint" type="text">
    <!-- <span>Optional</span> -->
    <fieldset id="deviceType">
      <legend>Type</legend>
      <div style="display: flex; width: 100%">

        <select style="width: 90%" id="type" onchange="switchType(this.value);">
           <option value="action.devices.types.SWITCH">Switch</option>
           <option value="action.devices.types.OUTLET">Outlet</option>
           <option value="action.devices.types.LIGHT">Light</option>
           <option value="action.devices.types.BLINDS">Blinds</option>
           <option value="action.devices.types.DOOR">Door</option>
           <option value="action.devices.types.WINDOW">Window</option>    
           <option value="action.devices.types.THERMOSTAT">Thermostat</option>       
           <option value="action.devices.types.FAN">Fan</option>
           <option value="action.devices.types.HEATER">Heater</option>
           <option value="action.devices.types.AIRPURIFIER">Purifier</option>
           <option value="action.devices.types.SENSOR">Sensor</option>
           <option value="action.devices.types.CAMERA">Camera</option>
           <option value="action.devices.types.SCENE">Scene</option>
           <!-- <option value="action.devices.types.CHARGER">Charger</option> -->
           <!-- <option value="action.devices.types.VACUUM">Vacume</option> -->
        </select>

      </div>
    </fieldset>
    <fieldset id="deviceTraits">
      <legend>Traits</legend>
      <!-- <div style="display: flex; width: 50%"> -->
      <div>
        <!-- <div class="traits"> -->
          <fieldset id="OnOffTraits" class="traits">
            <label for="OnOff">On/Off: </label>
            <input type="checkbox" name="trait" id="OnOff" value="action.devices.traits.OnOff" checked="true">
          </fieldset>
          <fieldset id="lightTraits" class="traits" disabled>
            <label for="Brightness">Brightness: </label>
            <input type="checkbox" name="trait" id="Brightness" value="action.devices.traits.Brightness"><br/>
            <label for="ColorTemperature">Color Settings: </label>
            <input type="checkbox" name="trait" id="ColorSetting" value="action.devices.traits.ColorSetting">
          </fieldset>
<!--           <fieldset id="vacuumTraits" disabled>
            <label for="StartStop">Start/Stop: </label>
            <input type="checkbox" name="trait" id="StartStop" value="action.devices.traits.StartStop"><br>
            <label for="RunCycle">Run Cycle: </label>
            <input type="checkbox" name="trait" id="RunCycle" value="action.devices.traits.RunCycle">
          </fieldset> -->
          <fieldset id="CameraTraits" class="traits" disabled>
            <label for="CameraStream">Camera Stream: </label>
            <input type="checkbox" name="trait" id="CameraStream" value="action.devices.traits.CameraStream">
          </fieldset>
          <fieldset id="blindsTraits" class="traits" disabled>
            <label for="OpenClose">Open/Close: </label>
            <input type="checkbox" name="trait" id="OpenClose" value="action.devices.traits.OpenClose">
          </fieldset>
          <fieldset id="sensorTraits" class="traits" disabled>
            <label for="TemperatureSensor">TemperatureSensor: </label>
            <input type="checkbox" name="trait" id="TemperatureSensor" value="action.devices.traits.TemperatureControl" onchange="temperatureControls(this.checked)">
            <label for="HumiditySensor">HumiditySensor: </label>
            <input type="checkbox" name="trait" id="HumiditySensor" value="action.devices.traits.HumiditySetting">
            <label for="AirQualitySensor">Air Quality Sensor: </label>
            <input type="checkbox" name="trait" id="AirQualitySensor" value="action.devices.traits.SensorState">
            <fieldset class="subTrait" id="TemperatureControlUnits">
              <legend><strong>Display Units</strong></legend>
              <label for="C">C</label>
              <input type="radio" name="TemperatureControlUnit" value="C" checked>
              <label for="F">F</label>
              <input type="radio" name="TemperatureControlUnit" value="F">
            </fieldset>
          </fieldset>
        <!-- </div> -->
        <!-- <div class="traits"> -->
          <fieldset id="temperatureTraits" class="traits" disabled>
            <label for="TemperatureSetting">Temperature: </label>
            <input type="checkbox" name="trait" id="TemperatureSetting" value="action.devices.traits.TemperatureSetting" onchange="temperatureSettings(this.checked)">
            <fieldset class="subTrait" id="TemperatureSettingModes">
              <legend>Temperature Modes:</legend>
              <label>Heat: </label>
              <input type="checkbox" id="TemperatureSettingModeHeat" name="TemperatureSettingMode" value="heat" checked>
              <label>Cool: </label>
              <input type="checkbox" id="TemperatureSettingModeCool" name="TemperatureSettingMode" value="cool">
              <label>Auto: </label>
              <input type="checkbox" id="TemperatureSettingModeAuto" name="TemperatureSettingMode" value="auto">
              <!-- <label>HeatCool: </label>
              <input type="checkbox" id="TemperatureSettingMode" value="heatcool"> -->
            </fieldset>
            <fieldset class="subTrait" id="TemperatureSettingUnits">
              <legend><strong>Display</strong> Units</legend>
              <label for="C">C</label>
              <input type="radio" name="TemperatureSettingUnit" value="C" checked>
              <label for="F">F</label>
              <input type="radio" name="TemperatureSettingUnit" value="F">
            </fieldset>
          </fieldset>
          <fieldset id="fanTraits" class="traits" disabled>
            <label for="Fan">Fan Speed: </label>
            <input type="checkbox" name="trait" id="FanSetting" value="action.devices.traits.FanSpeed">
          </fieldset>
          <fieldset id="sceneTraits" class="traits" disabled hidden>
            <label for="Scene">Scene: </label>
            <input type="checkbox" name="trait" id="Scene" value="action.devices.traits.Scene">
          </fieldset>
          <fieldset id="modeToggleTraits" class="traits" disabled>
            <label for="Toggles">Toggles: </label>
            <input type="checkbox" name="trait" id="Toggles" value="action.devices.traits.Toggles">
            <label for="Modes">Modes: </label>
            <input type="checkbox" name="trait" id="Modes" value="action.devices.traits.Modes">
          </fieldset>
          <!-- <fieldset id="chargeTraits" class="traits" disabled>
            <label for="EnergyStorage">EnergyStorage: </label>
            <input type="checkbox" name="trait" id="EnergyStorage" value="action.device.traits.EnergyStorage">
          </fieldset> -->
        <!-- </div> -->
      </div>
      <fieldset id="reportState" hidden>
          <legend>Report State</legend>
          <label for="willReportState">Will Report State: </label>
          <input type="checkbox" id="willReportState" name="willReportState">
        </fieldset>
    </fieldset>
  </div>

  <script type="application/javascript">
    $('#dialog').dialog({
      autoOpen: false,
      dragable: false,
      modal: true,
      position: {
        my: "center",
        at: "center",
        of: window,
        using: function( pos ) {
          $(this).css("top", '55px');
          $(this).css("left", pos.left);
        }
      },
      title: "Add New Device",
      dialogClass: "no-close",
      width: "350px",
      buttons:[
        {
          text: 'OK',
          click: function(){
            var devID = $('#devID').val();
            var name = $('#friendlyName').val();
            if (devID === '') {
              var dev = {
                type: $('#type').val(),
                traits: [],
                roomHint: $('#roomHint').val(),
                willReportState: true,
                name:{
                  name: name,
                  nicknames: [
                    name
                  ]
                },
                attributes: {},
                state: {
                  online: true
                }
              };

              $('input[name=trait]').each(function(index){
                if (this.checked) {
                  dev.traits.push(this.value);
                }
              });
              if (dev.traits.includes("action.devices.types.SCENE")) {
                dev.attributes["sceneReversible"] = true
              }

              if (dev.traits.includes("action.devices.traits.OnOff")) {
                Object.assign(dev.state, {
                  on: false
                });
              }

              if (dev.traits.includes("action.devices.traits.ColorSetting")) {
                dev.attributes["colorModel"] = "rgb";
                dev.attributes["colorTemperatureRange"]= {
                  temperatureMinK: 2000,
                  temperatureMaxK: 6500
                }
                dev.attributes["commandOnlyColorSetting"] = true
              }

              if (dev.traits.includes("action.devices.traits.Brightness")) {
                Object.assign(dev.state, {
                  brightness: 100
                })
              }

              if (dev.traits.includes("action.devices.traits.TemperatureSetting")) {
                // dev.attributes["availableThermostatModes"] = "off,heat,cool,on";
                var tempSet = $("input[name='TemperatureSettingMode'")
                var tempSetArray = ["on", "off"]
                for (let i=0; i<tempSet.length; i++) {
                  if (tempSet[i].checked) {
                    tempSetArray.push(tempSet[i].value)
                  }
                }
                dev.attributes["availableThermostatModes"] = tempSetArray.join(",")

                dev.attributes["thermostatTemperatureUnit"] = $("input:radio[name=TemperatureSettingUnit]:checked").val()
                
                dev.state = Object.assign(dev.state, {
                  activeThermostatMode: "heat",
                  thermostatMode: "heat",
                  thermostatTemperatureSetpoint: 20,
                  thermostatTemperatureAmbient: 20
                });
              }

              if (dev.traits.includes("action.devices.traits.OpenClose")) {
                if (dev.type == "action.devices.types.BLINDS") {
                  dev.attributes["openDirection"] = ["UP"];
                  dev.state = Object.assign(dev.state, {
                    "openPercent": 0
                  })
                } else if (dev.type == "action.devices.types.DOOR" || dev.type == "action.devices.types.WINDOW") {
                  dev.attributes["discreteOnlyOpenClose"] = true;
                }
              }

              if (dev.traits.includes("action.devices.traits.FanSpeed")) {
                dev.attributes["availableFanSpeeds"] = {
                  speeds: [
                    {
                      speed_name: "Low",
                      speed_values: [
                        {
                          speed_synonym: [
                            "low", "slow"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "mínimo", "um", "baixa", "mínima"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    },
                    {
                      speed_name: "Med",
                      speed_values: [
                        {
                          speed_synonym: [
                            "medium", "mid"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "médio", "dois", "média"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    },
                    {
                      speed_name: "High",
                      speed_values: [
                        {
                          speed_synonym: [
                            "high", "full","max"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "máximo", "três","máxima"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    }
                  ],
                  ordered: true
                };
                dev.attributes["reversible"] = true;
                //dev.attributes["supportsFanSpeedPercent"] = true;
                dev.state = Object.assign(dev.state, {
                  fanSpeed: "Low"
                })
              }

              if (dev.traits.includes("action.devices.traits.TemperatureControl")) {
                dev.attributes["queryOnlyTemperatureControl"] = true
                dev.state = Object.assign(dev.state,{
                  temperatureAmbientCelsius: 22
                })
                dev.attributes["temperatureRange"] = {
                  minThresholdCelsius: -20,
                  maxThresholdCelsius: 150
                };
                
                dev.attributes["temperatureUnitForUX"] = $("input:radio[name=TemperatureControlUnit]:checked").val();

              }

              if (dev.traits.includes("action.devices.traits.HumiditySetting")) {
                dev.attributes["queryOnlyHumiditySetting"] = true
                dev.state = Object.assign(dev.state,{
                  humidityAmbientPercent: 50
                })
              }

              if (dev.traits.includes("action.devices.traits.CameraStream")) {
                dev.attributes["cameraStreamNeedAuthToken"] = false
                dev.attributes["cameraStreamNeedDrmEncryption"] = false
                dev.attributes["cameraStreamSupportedProtocols"] = ["hls", "dash"]
              }

              // if (dev.traits.includes("actions.devices.traits.EnergyStorage")) {
              //   dev.attributes["isRechargable"] = true
              //   dev.attributes["queryOnlyEnergyStorage"] = false
              //   dec.state = Object.assign(dev.state, {
              //     isPluggedIn: true,
              //     isCharging: true,
              //     capacityRemaining: [
              //       {
              //         unit: "PERCENTAGE",
              //         rawValue: 0
              //       }
              //     ]
              //   })
              // }

              console.log(dev);
              if (name && dev.type && dev.traits.length > 0) {
                $.ajax({
                  url: '/user/devices',
                  method: 'PUT',
                  data: JSON.stringify(dev),
                  contentType: "application/json",
                  success: function(data){
                    document.location.reload();
                  },
                  dataType: 'json'
                }).fail(function(){
                  alert('failed to create device');
                });
                $(this).dialog( "close" );
              } else {
                alert('You need to set a name, device type and at least one trait');
              }
            } else {
              //update
              console.log("update");
              var dev = devices[devID];
              console.log(dev);
              dev.type = $('#type').val();
              dev.roomHint = $('#roomHint').val();
              dev.traits = [];
              dev.attributes = {};
              dev.willReportState = true;

              $('input[name=trait]').each(function(index){
                if (this.checked) {
                  dev.traits.push(this.value);
                }
              });

              if (dev.traits.includes("action.devices.types.SCENE")) {
                dev.attributes["sceneReversible"] = true
              }


              if (dev.traits.includes("action.devices.traits.ColorSetting")) {
                dev.attributes["colorModel"] = "rgb";
                dev.attributes["colorTemperatureRange"]= {
                  temperatureMinK: 2000,
                  temperatureMaxK: 6500
                }
                dev.attributes["commandOnlyColorSetting"] = true
              }

              if (dev.traits.includes("action.devices.traits.Brightness")) {
                if (!dev.state.brightness) {
                  Object.assign(dev.state, {
                    brightness: 100
                  })
                }
              }

              if (dev.traits.includes("action.devices.traits.TemperatureSetting")) {
                //dev.attributes["availableThermostatModes"] = "off,heat,cool,on";
                var tempSet = $("input[name='TemperatureSettingMode'")
                var tempSetArray = ["on", "off"]
                for (let i=0; i<tempSet.length; i++) {
                  if (tempSet[i].checked) {
                    tempSetArray.push(tempSet[i].value)
                  }
                }
                dev.attributes["availableThermostatModes"] = tempSetArray.join(",")

                dev.attributes["thermostatTemperatureUnit"] = $("input:radio[name=TemperatureSettingUnit]:checked").val()
                dev.state = Object.assign({
                  activeThermostatMode: "heat",
                  thermostatMode: "heat",
                  thermostatTemperatureSetpoint: 20,
                  thermostatTemperatureAmbient: 20
                }, dev.state);
              }

              if (dev.traits.includes("action.devices.traits.FanSpeed")) {
                dev.attributes["availableFanSpeeds"] = {
                  speeds: [
                    {
                      speed_name: "Low",
                      speed_values: [
                        {
                          speed_synonym: [
                            "low", "slow"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "mínimo", "um", "baixa", "mínima"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    },
                    {
                      speed_name: "Med",
                      speed_values: [
                        {
                          speed_synonym: [
                            "medium", "mid"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "médio", "dois", "média"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    },
                    {
                      speed_name: "High",
                      speed_values: [
                        {
                          speed_synonym: [
                            "high", "full","max"
                          ],
                          lang: "en"
                        },
                        {
                          speed_synonym: [
                            "máximo", "três","máxima"
                          ],
                          lang: "pt-BR"
                        }
                      ]
                    }
                  ],
                  ordered: true
                };
                dev.attributes["reversible"] = true;
                dev.state = Object.assign({
                  fanSpeed: "Low"
                }, dev.state)

              }

              if (dev.traits.includes("action.devices.traits.TemperatureControl")) {
                dev.attributes["queryOnlyTemperatureControl"] = true
                dev.state = Object.assign(dev.state,{
                  temperatureAmbientCelsius: 22
                });
                dev.attributes["temperatureRange"] = {
                  minThresholdCelsius: -20,
                  maxThresholdCelsius: 150
                };
                dev.attributes["temperatureUnitForUX"] = $("input:radio[name=TemperatureControlUnit]:checked").val();

              }

              if (dev.traits.includes("action.devices.traits.HumiditySetting")) {
                dev.attributes["queryOnlyHumiditySetting"] = true
                dev.state = Object.assign(dev.state,{
                  humidityAmbientPercent: 50
                })
              }
              
              if (dev.traits.includes("action.devices.traits.CameraStream")) {
                dev.attributes["cameraStreamNeedAuthToken"] = false
                dev.attributes["cameraStreamNeedDrmEncryption"] = false
                dev.attributes["cameraStreamSupportedProtocols"] = ["hls", "dash"]
              }

              // if (dev.traits.includes("actions.devices.traits.EnergyStorage")) {
              //   dev.attributes["isRechargable"] = true
              //   dev.attributes["queryOnlyEnergyStorage"] = false
              //   dec.state = Object.assign(dev.state, {
              //     isPluggedIn: true,
              //     isCharging: true,
              //     capacityRemaining: [
              //       {
              //         unit: "PERCENTAGE",
              //         rawValue: 0
              //       }
              //     ]
              //   })
              // }

              console.log(dev);
              console.log(dev.attributes);
              $.ajax({
                url: '/user/devices/' + dev._id,
                method: 'POST',
                data: JSON.stringify(dev),
                contentType: "application/json",
                success: function(data){
                  document.location.reload();
                },
                dataType: 'json'
              }).fail(function(){
                alert('failed to update device')
              });
              $(this).dialog("close");
            }
          }
        },
        {
          text: 'Cancel',
          click: function(){
            reset();
            $(this).dialog( "close" );
          }
        }
      ]
    });

    function clearDevice() {
      $('#devID').val("");
      $('#friendlyName').val("");
      $('#friendlyName').prop('readonly', false);
      $('#roomHint').val("");
      $('input[name=type]').each(function(index){
        this.checked = false;
      });
      $('input[name=trait]').each(function(index){
        this.checked = false;
      });
      $('input[name=TemperatureSettingMode]').each(function(index){
        this.checked = false;
      })
      $('#TemperatureSettingModeHeat').prop('checked', true);
      $('type').val('action.devices.types.SWITCH');
      $('#OnOff').prop('checked',true);
      $("#dialog")
    }

    function edit(event, id) {
      if (event.shiftKey) {
        console.log(location);
        window.location.href = '/user/expert-mode/' + id;
      } else {
        clearDevice();
        $("#dialog").dialog({
          title: "Edit Device"
        }).dialog("open");
        var device = devices[id];
        $('#devID').val(device._id);
        $('#friendlyName').val(device.name.name);
        $('#friendlyName').prop('readonly', true);
        $('#roomHint').val(device.roomHint);
        switchType(device.type);
        // $('input[name=type][value="' + device.type + '"]').prop('checked', true);
        $("#type").val(device.type);
        device.traits.forEach(function(trait){
          var stuff = trait.split('\.');
          $('#'+stuff[stuff.length-1]).prop('checked',true);
        });
        if (device.traits.includes('action.devices.traits.TemperatureSetting')) {
          var unit = device.attributes["thermostatTemperatureUnit"]
          $("input:radio[name=TemperatureSettingUnit][value=" + unit + "]").prop("checked", true)
          $("#TemperatureSettingModeHeat").prop('checked', false)
          var modes = device.attributes["availableThermostatModes"].split(",")
          modes.forEach(function(mode){
            var modeName = "#TemperatureSettingMode" + mode.charAt(0).toUpperCase() + mode.slice(1)
            if ($(modeName).length > 0) {
              $(modeName).prop('checked', true)
            }
          })
        }
        if (device.traits.includes('action.devices.traits.TemperatureControl')) {
          var unit = device.attributes["temperatureUnitForUX"]
          $("input:radio[name=TemperatureControlUnit][value=" + unit + "]").prop("checked", true)
        }
      }
    }

    function addDevice(event){
      if (event.shiftKey) {
        window.location.href = '/user/expert-mode';
      } else {
        clearDevice();
        $("#dialog").dialog({title: "Add New Device"}).dialog("open");
      }
    }

    function deleteDevice(id) {
      var answer = confirm("Are you sure you want to delete this device?");
      if (answer) {
        $.ajax({
          url:"/user/devices/" + id,
          type: 'DELETE',
          success: function(data, status, jqXHR){
            document.location.reload();
          },
          error: function(xhr, status, err) {
            console.log(err);
            document.location.reload();
          }
        });
      }
    }

    function switchType(type) {
      switch(type) {
        case 'action.devices.types.SWITCH':
        case 'action.devices.types.OUTLET':
          $('#OnOff').prop('checked',true);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked',false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').removeAttr('disabled');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').attr('disabled','');
          $('#sceneTraits').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled');
          // $('#reportState').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');
          $('#modeToggleTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');

          $('#OnOffTraits').removeAttr('hidden');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').attr('hidden','');
          $('#sceneTraits').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          // $('#reportState').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');
          $('#modeToggleTraits').attr('hidden','');

          $('#willReportState').prop('checked', true);

          
          break;
        case 'action.devices.types.LIGHT':
          $('#OnOff').prop('checked', true);
          $('#TemperatureSetting').prop('checked', false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').removeAttr('disabled');
          $('#lightTraits').removeAttr('disabled');
          $('#temperatureTraits').attr('disabled','');
          $('#sceneTraits').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          // $('#reportState').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');
          $('#modeToggleTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');

          $('#OnOffTraits').removeAttr('hidden');
          $('#lightTraits').removeAttr('hidden');
          $('#temperatureTraits').attr('hidden','');
          $('#sceneTraits').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          // $('#reportState').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');
          $('#modeToggleTraits').attr('hidden','');

          $('#willReportState').prop('checked', true);

          break;
        case 'action.devices.types.THERMOSTAT':
          $('#OnOff').prop('checked',false);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',true);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').attr('disabled','');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').removeAttr('disabled');
          $('#sceneTraits').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          // $('#reportState').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');

          $('#OnOffTraits').attr('hidden','');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').removeAttr('hidden');
          $('#sceneTraits').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          // $('#reportState').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');

          $('#willReportState').prop('checked', true);
          break;
        case 'action.devices.types.FAN':
        case 'action.devices.types.AIRPURIFIER':
          $('#OnOff').prop('checked', true);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',true);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').removeAttr('disabled');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').removeAttr('disabled');
          $('#sceneTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          // $('#reportState').removeAttr('disabled');
          $('#fanTraits').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');

          $('#OnOffTraits').removeAttr('hidden');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').removeAttr('hidden');
          $('#sceneTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          // $('#reportState').removeAttr('hidden');
          $('#fanTraits').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');

          $('#willReportState').prop('checked', true);
          break;
        case 'action.devices.types.SCENE':
          $('#OnOff').prop('checked',false);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked',true);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#willReportState').prop('checked', false);
          // $('#reportState').attr('disabled','');

          $('#OnOffTraits').attr('disabled','');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          $('#sceneTraits').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');

          $('#OnOffTraits').attr('hidden','');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          $('#sceneTraits').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');

          break;
        case 'action.devices.types.HEATER':
          $('#OnOff').prop('checked', true);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',true);
          $('#FanSetting').prop('checked',true);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').removeAttr('disabled');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').removeAttr('disabled');
          $('#sceneTraits').attr('disabled','');
          // $('#reportState').removeAttr('disabled');
          $('#fanTraits').removeAttr('disabled');
          $('#blindsTraits').attr('disabled','');
          $('#sensorTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');
          // $('#chargeTraits').attr('hidden', '');

          $('#OnOffTraits').removeAttr('hidden');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').removeAttr('hidden');
          $('#sceneTraits').attr('hidden','');
          // $('#reportState').removeAttr('hidden');
          $('#fanTraits').removeAttr('hidden');
          $('#blindsTraits').attr('hidden','');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');
          // $('#chargeTraits').attr('hidden', '');

          $('#willReportState').prop('checked', true);
          break;
        case 'action.devices.types.BLINDS':
        case 'action.devices.types.DOOR':
        case 'action.devices.types.WINDOW':
          $('#OnOff').prop('checked', false);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', true);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').removeAttr('disabled');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').attr('disabled','');
          $('#sceneTraits').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled', '');

          $('#OnOffTraits').removeAttr('hidden');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').attr('hidden', '');
          $('#sceneTraits').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden', '');
          // $('#chargeTraits').attr('hidden', '');

          $('#willReportState').prop('checked', true);
          break;
        case 'action.devices.types.CAMERA':
          $('#OnOff').prop('checked', false);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', true);
          $('#TemperatureSensor').prop('checked', false);
          $('#HumiditySensor').prop('checked', false);

          $('#OnOffTraits').attr('disabled','');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').attr('disabled','');
          $('#sceneTraits').attr('disabled','');
          // $('#reportState').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          $('#CameraTraits').removeAttr('disabled');
          $('#sensorTraits').attr('disabled','');

          $('#OnOffTraits').attr('hidden','');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').attr('hidden','');
          $('#sceneTraits').attr('hidden','');
          // $('#reportState').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          $('#CameraTraits').removeAttr('hidden');
          $('#sensorTraits').attr('hidden','');
          // $('#chargeTraits').attr('hidden', '');

          $('#willReportState').prop('checked', true);
          break;
        case 'action.devices.types.SENSOR':
          $('#OnOff').prop('checked', false);
          $('#Brightness').prop('checked', false);
          $('#ColorTemperature').prop('checked', false);
          $('#ColorSpectrum').prop('checked', false);
          $('#TemperatureSetting').prop('checked',false);
          $('#FanSetting').prop('checked',false);
          $('#Scene').prop('checked', false);
          $('#OpenClose').prop('checked', false);
          $('#CameraStream').prop('checked', false);
          $('#TemperatureSensor').prop('checked', true);
          $('#HumiditySensor').prop('checked', true);

          $('#OnOffTraits').attr('disabled','');
          $('#lightTraits').attr('disabled','');
          $('#temperatureTraits').attr('disabled','');
          $('#sceneTraits').attr('disabled','');
          // $('#reportState').attr('disabled','');
          $('#fanTraits').attr('disabled','');
          $('#blindsTraits').attr('disabled','');
          $('#CameraTraits').attr('disabled','');
          $('#sensorTraits').removeAttr('disabled');

          $('#OnOffTraits').attr('hidden','');
          $('#lightTraits').attr('hidden','');
          $('#temperatureTraits').attr('hidden','');
          $('#sceneTraits').attr('hidden','');
          // $('#reportState').attr('hidden','');
          $('#fanTraits').attr('hidden','');
          $('#blindsTraits').attr('hidden','');
          $('#CameraTraits').attr('hidden','');
          $('#sensorTraits').removeAttr('hidden');

          $('#willReportState').prop('checked', true);
          break;

        // case 'action.devices.types.CHARGER':
        //   $('#OnOff').prop('checked', false);
        //   $('#Brightness').prop('checked', false);
        //   $('#ColorTemperature').prop('checked', false);
        //   $('#ColorSpectrum').prop('checked', false);
        //   $('#TemperatureSetting').prop('checked',false);
        //   $('#FanSetting').prop('checked',false);
        //   $('#Scene').prop('checked', false);
        //   $('#OpenClose').prop('checked', false);
        //   $('#CameraStream').prop('checked', false);
        //   $('#TemperatureSensor').prop('checked', false);
        //   $('#HumiditySensor').prop('checked', false);
        //   $('#EnergyStorage').prop('checked', true);

        //   $('#OnOffTraits').attr('disabled','');
        //   $('#lightTraits').attr('disabled','');
        //   $('#temperatureTraits').attr('disabled','');
        //   $('#sceneTraits').attr('disabled','');
        //   // $('#reportState').attr('disabled','');
        //   $('#fanTraits').attr('disabled','');
        //   $('#blindsTraits').attr('disabled','');
        //   $('#CameraTraits').attr('disabled','');
        //   $('#sensorTraits').attr('disabled');

        //   $('#OnOffTraits').attr('hidden','');
        //   $('#lightTraits').attr('hidden','');
        //   $('#temperatureTraits').attr('hidden','');
        //   $('#sceneTraits').attr('hidden','');
        //   // $('#reportState').attr('hidden','');
        //   $('#fanTraits').attr('hidden','');
        //   $('#blindsTraits').attr('hidden','');
        //   $('#CameraTraits').attr('hidden','');
        //   // $('#chargeTraits').removeAttr('hidden');


        //   $('#willReportState').prop('checked', true);
        //   break;


      }
    }

    function reset() {
      $('#type').val('action.devices.types.SWITCH');
      $('#devID').val("");
      $('#OnOff').prop('checked',true);
      $('#Brightness').prop('checked', false);
      $('#ColorTemperature').prop('checked', false);
      $('#ColorSpectrum').prop('checked', false);
      $('#TemperatureSetting').prop('checked',false);
      $('#Scene').prop('checked',false);
      $('#TemperatureSensor').prop('checked', false);
      $('#HumiditySensor').prop('checked', false);

      $('#OnOffTraits').removeAttr('disabled');
      $('#lightTraits').attr('disabled','');
      $('#temperatureTraits').attr('disabled','');
      $('#sceneTraits').attr('disabled','');
      $('#fanTraits').attr('disabled','');
      $('#blindsTraits').attr('disabled','');
      $('#sensorTraits').attr('disabled','');

      $('input[name=type]').each(function(index){
        if (this.value === 'action.devices.types.SWITCH') {
          this.checked = true;
        }
      });

      $("input:radio[name=TemperatureSettingUnit][value=C]").prop("checked", true)

      $('#OnOffTraits').removeAttr('hidden');
      $('#lightTraits').attr('hidden','');
      $('#temperatureTraits').attr('hidden','');
      $('#sceneTraits').attr('hidden','');
      $('#fanTraits').attr('hidden','');
      $('#blindsTraits').attr('hidden','');
      // $('#reportState').removeAttr('hidden');
      $('#sensorTraits').attr('hidden','');
      $('#CameraTraits').attr('hidden', '');
      $('#modeToggleTraits').attr('hidden','');
      // $('#chargeTraits').attr('hidden', '')

    }

    function temperatureSettings(checked) {
      console.log(checked);
      if (checked) {
        $("#TemperatureSettingModes").removeAttr('disabled');
        $("#TemperatureSettingUnits").removeAttr('disabled');
      } else {
        $('#TemperatureSettingModes').attr('disabled','');
        $("#TemperatureSettingUnits").attr('disabled','');
      }
    }

    function temperatureControls(checked) {
      console.log(checked);
      if (checked) {
        $("#TemperatureControlUnits").removeAttr('disabled');
      } else {
        $("#TemperatureControlUnits").attr('disabled','');
      }
    }

    function checkName(name) {
      var reg = /(\u00a9|\u00ae|[\u2000-\u3300]|\ud83c[\ud000-\udfff]|\ud83d[\ud000-\udfff]|\ud83e[\ud000-\udfff])/;
      if (name.match(reg)) {
        alert("Using emoji in device names is not a good idea\n and discouraged by Google");
      }
    }

    var devices = {};
    <%- JSON.stringify(devices) %>.forEach(function(device){
      devices[device._id] = device;
    });

    reset();
  </script>
<% include ../fragments/footer.ejs %>